In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt



import warnings
warnings.filterwarnings("ignore")

import tensorflow as tf
from tensorflow.keras import Sequential    #helps me to intialize the ann
from tensorflow.keras.layers import Dense  #help me to create HL (Hidden Layers)
from sklearn.metrics import classification_report

In [2]:
df = pd.read_csv("/content/household_power_consumption.csv")

In [3]:
df.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16-12-2006,17:24:00,4.216,0.418,234.84,18.4,0,1,17.0
1,16-12-2006,17:25:00,5.36,0.436,233.63,23,0,1,16.0
2,16-12-2006,17:26:00,5.374,0.498,233.29,23,0,2,17.0
3,16-12-2006,17:27:00,5.388,0.502,233.74,23,0,1,17.0
4,16-12-2006,17:28:00,3.666,0.528,235.68,15.8,0,1,17.0

In [4]:
df.shape

(1048575, 9)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 9 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Date                   1048575 non-null  object
 1   Time                   1048575 non-null  object
 2   Global_active_power    1048575 non-null  object
 3   Global_reactive_power  1048575 non-null  object
 4   Voltage                1048575 non-null  object
 5   Global_intensity       1048575 non-null  object
 6   Sub_metering_1         1048575 non-null  object
 7   Sub_metering_2         1048575 non-null  object
 8   Sub_metering_3         1044506 non-null  float64
dtypes: float64(1), object(8)
memory usage: 72.0+ MB

In [6]:
df.describe()

       Sub_metering_3
count    1.044506e+06
mean     5.933837e+00
std      8.210398e+00
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      1.700000e+01
max      3.100000e+01

In [7]:
df.isnull().sum()

Date                        0
Time                        0
Global_active_power         0
Global_reactive_power       0
Voltage                     0
Global_intensity            0
Sub_metering_1              0
Sub_metering_2              0
Sub_metering_3           4069
dtype: int64

In [8]:
#Step 1: Replace the sign
df["Sub_metering_3"].replace("NaN",np.nan,inplace=True)

In [9]:
#Step 2: Change the data type
df["Sub_metering_3"] = df["Sub_metering_3"].astype("Float64")

In [10]:
#Step 3 : Calculate mean
a = df["Sub_metering_3"].mean()

In [11]:
#Step 4 : Fill the null value
df["Sub_metering_3"].fillna(a,inplace=True)

In [12]:
df.isnull().sum()

Date                     0
Time                     0
Global_active_power      0
Global_reactive_power    0
Voltage                  0
Global_intensity         0
Sub_metering_1           0
Sub_metering_2           0
Sub_metering_3           0
dtype: int64

In [13]:
df.drop(["Date","Time"], axis=1,inplace=True)

In [14]:
df.head()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,4.216,0.418,234.84,18.4,0,1,17.0
1,5.36,0.436,233.63,23,0,1,16.0
2,5.374,0.498,233.29,23,0,2,17.0
3,5.388,0.502,233.74,23,0,1,17.0
4,3.666,0.528,235.68,15.8,0,1,17.0

In [16]:
x = df.drop(["Voltage"],axis=1)
y = df["Voltage"]

In [18]:
x.shape

(1048575, 6)

In [19]:
y.shape

(1048575,)

In [20]:
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder      #importing encoder for conversion of categorical data
od = OrdinalEncoder()

In [21]:
catcols = df.select_dtypes(object).columns
from sklearn.preprocessing import StandardScaler
std = StandardScaler()

In [22]:
catcols = df.select_dtypes(object).columns
df[catcols] = od.fit_transform(df[catcols])
df.head()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,2078.0,187.0,967.0,51.0,0.0,1.0,17.0
1,2650.0,196.0,846.0,79.0,0.0,1.0,16.0
2,2657.0,227.0,812.0,79.0,0.0,12.0,17.0
3,2664.0,229.0,857.0,79.0,0.0,1.0,17.0
4,1803.0,242.0,1051.0,38.0,0.0,1.0,17.0

In [23]:
x = df.drop(["Voltage"],axis=1).values
y = df["Voltage"].values

In [27]:
x

array([[2078.0, 187.0, 51.0, 0.0, 1.0, 17.0],
       [2650.0, 196.0, 79.0, 0.0, 1.0, 16.0],
       [2657.0, 227.0, 79.0, 0.0, 12.0, 17.0],
       ...,
       [173.0, 16.0, 8.0, 0.0, 0.0, 0.0],
       [173.0, 17.0, 8.0, 0.0, 0.0, 0.0],
       [173.0, 17.0, 8.0, 0.0, 0.0, 0.0]], dtype=object)

In [26]:
y

array([ 967.,  846.,  812., ..., 1656., 1739., 1744.])

In [38]:
from sklearn.model_selection import train_test_split

In [39]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.3,random_state=1)

In [40]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
xtrain = sc.fit_transform(xtrain)
xtest = sc.transform(xtest)

In [41]:
from sklearn.metrics import mean_squared_error

In [ ]:
#step1 : initilise the ann model
ann = Sequential()

#step2 : add layers into the model 
ann.add(Dense(units=2,activation="relu"))

ann.add(Dense(units=1))

#step3 : establish the connection between the layers
ann.compile(optimizer= "adam" ,loss="mse")

#step4 : train the model 
ann.fit(xtrain,ytrain,batch_size=10,epochs= 50)

#step5 : make prediction 
ypred =ann.predict(xtest)

Epoch 1/50
73401/73401 [==============================] - 151s 2ms/step - loss: 416939.8438
Epoch 2/50
73401/73401 [==============================] - 144s 2ms/step - loss: 100410.2969
Epoch 3/50
73401/73401 [==============================] - 150s 2ms/step - loss: 95629.2266
Epoch 4/50
73401/73401 [==============================] - 144s 2ms/step - loss: 92321.4922
Epoch 5/50
73401/73401 [==============================] - 139s 2ms/step - loss: 91293.5703
Epoch 6/50
73401/73401 [==============================] - 141s 2ms/step - loss: 90926.6094
Epoch 7/50
73401/73401 [==============================] - 139s 2ms/step - loss: 90772.1328
Epoch 8/50
73401/73401 [==============================] - 142s 2ms/step - loss: 90699.1250
Epoch 9/50
73401/73401 [==============================] - 139s 2ms/step - loss: 90657.0312
Epoch 10/50
73401/73401 [==============================] - 140s 2ms/step - loss: 90629.0547
Epoch 11/50
73401/73401 [==============================] - 141s 2ms/step - loss: 90608.4219
Epoch 12/50
73401/73401 [==============================] - 141s 2ms/step - loss: 90591.9844
Epoch 13/50
73401/73401 [==============================] - 139s 2ms/step - loss: 90576.4062
Epoch 14/50
73401/73401 [==============================] - 139s 2ms/step - loss: 90563.6953
Epoch 15/50
73401/73401 [==============================] - 137s 2ms/step - loss: 90552.1641
Epoch 16/50
73401/73401 [==============================] - 137s 2ms/step - loss: 90543.0312
Epoch 17/50
73401/73401 [==============================] - 138s 2ms/step - loss: 90530.3047
Epoch 18/50
73401/73401 [==============================] - 137s 2ms/step - loss: 90523.6719
Epoch 19/50
73401/73401 [==============================] - 137s 2ms/step - loss: 90515.8359
Epoch 20/50
73401/73401 [==============================] - 133s 2ms/step - loss: 90505.6562
Epoch 21/50
73401/73401 [==============================] - 134s 2ms/step - loss: 90500.2188
Epoch 22/50
73401/73401 [==============================] - 135s 2ms/step - loss: 90494.2812
Epoch 23/50
73401/73401 [==============================] - 141s 2ms/step - loss: 90485.4922
Epoch 24/50
73401/73401 [==============================] - 142s 2ms/step - loss: 90482.5000
Epoch 25/50
73401/73401 [==============================] - 145s 2ms/step - loss: 90477.9297
Epoch 26/50
73401/73401 [==============================] - 144s 2ms/step - loss: 90471.9375
Epoch 27/50
11200/73401 [===>..........................] - ETA: 2:03 - loss: 91041.1250